/*  your css code here. If applicable */
/* Body Style */
body {
    background-color: rgb(204, 204, 204);
    font-family: Arial, sans-serif;
}

/* Headings */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* Playlist Style */
ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin: 10px 0;
    text-align: center;
}

a {
    text-decoration-line: none;
    color: black;
}

/* Video Player Container */
.player_one {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
}

/* Audio Player Container */
.player_two {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
}
